* {
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  background-image: url(../imgs/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
}

#title {
  display: inline-flexbox;
  color: #97E658;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
  text-align: center;
}

#title>h1 {
  font-size: 4vmax;
  margin-bottom: 0;
}

#msg {
  display: inline-flexbox;
  color: #97E658;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 3vmax;
}

#random-word {
  color: #97E658;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  align-self: flex-end;
  height: 3rem;
  margin-bottom: 1.5vmax;
  font-size: 4vmax;
}

#guesses-countdown {
  color: #97E658;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  align-self: flex-start;
  padding-bottom: 6rem;
  font-size: 1.75vmax;
}

#ply-agn {
  grid-column-start: 3;
  grid-row-start: 5;
  border-radius: 12px;
  max-width: 15vmax;
  max-height: 7vmax;
  background: linear-gradient(160deg, #7C17AE, #66FF40);
  color: white;
  font-size: 2.5vmax;
}

#astronaut {
  grid-column-start: 2;
  grid-row-start: 5;
  align-self: center;
  justify-self: center;
  height: 10vmax;
  animation: floating 3s ease-in-out infinite;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-bottom: 2rem;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}


#rckt-imgs {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 6;
  height: 100%;
  max-height: 100vmax;
  min-height: 25vmin;
}